
@charset "utf-8";

/* CSS Document */

html, body, div, nav, section, footer, p, h1, h2, h3, h4, h5, h6, span, img, a, ul, li, ol, dl, dd, dt, table, th, tr, td, form, input, select, option, textarea, button
{  margin: 0;  padding: 0;  background: none;  border: none;  outline: none;  vertical-align: top;   }
/*清除浮动*/
.clearfix:after{content:" ";display:block;height:0;clear:both}
.clearfix:before{content:" ";display:block;height:0;clear:both}
body {  font-family: "Microsoft yahei";  font-size: 14px;  color: #666;  background: #F5F5F5;  }
ul,ol {  list-style: none;  }
a {  text-decoration: none;  color: #333333;  }
iframe {  border: none;  overflow: hidden;  }
body{min-width: 1280px;}
.m-t-6 {margin-top: 6px;}
.block{display: block!important;}
.over_y-hid{overflow-y: hidden;}
.block-none{display: none}
.col000{color: #000;}

/*集体声明*/
/*以下导航*/
.header{width: 100%;background: #ffffff;height: 160px}
.header .center{margin: 0 auto;width: 1280px;}
.header .center .logo{float: left;height: 130px;width: 167px;margin-top: 15px}
.header .center .nav{float: right}
.header .center .nav ul{float: right}
.header .center .nav ul li{float: left;width: 150px;text-align: center;line-height: 80px}
.header .center .nav ul li img{margin-top: 36.5px;margin-left: 10px}
.header .center .nav ul li a{color: #333333;font-size: 16px}
.header .center .nav ul li a.active{color: #013b91;}
.header .center .nav ul li a:hover{color: #013b91;}
.header .tel{float: right;width: 100%;}
.header .tel img{float: right;width: 36px;height: 36px;margin-top: 22px;margin-right: 10px;}
.header .tel p{float: right;line-height: 80px;height:80px;font-size: 18px}
.header .tel p span{line-height: 80px;font-size: 26px;margin-left: 10px}
/*以下未登录状态*/
.nav .enter{float: right}
.nav .enter p{float: left;width: 80px;text-align: center;margin-top: 28px;}
.nav .enter p a.active{padding:4px 10px;background: #013b91;border: 2px solid #013b91;color: #ffffff}
.nav .enter p a.activet{padding:4px 10px;border: 2px solid #013b91;color: #013b91}
/*以下登录状态*/
.nav .product_user{width: 160px;float: right}
.nav .product_user p{margin: 0 auto;width: 160px;margin-top: 28px;float: left;text-align: center;}
.nav .product_user p a.active{padding:4px 10px;background: #013b91;border: 2px solid #013b91;color: #ffffff}
/*导航结束*/
/*底部开始*/
.footer{background: #222222;}
.footer .con{width: 1280px;margin: 0 auto;padding: 60px 0;}
.footer .bottom_left{float: left}
.footer .con .bottom_left ul li{width: 200px;text-align: center;float: left;}
.footer .con .bottom_left ul li p{line-height: 40px;height: 40px}
.footer .con .bottom_left ul li p a{color: #ffffff;font-size: 16px;}
.footer .con .bottom_left ul li p:first-child a{font-size: 18px;}
.footer .bottom_right{float: right;text-align: center;margin-right: 150px;position: relative}
.footer .bottom_right .tel{font-size: 30px;color: #ffffff;line-height: 50px;}
.footer .bottom_right .title{font-size: 18px;color: #ffffff;line-height: 50px;}
.footer .bottom_right .img img{padding: 10px;cursor: pointer;}
.footer_bottom{background: #000000;padding: 10px 0;}
.footer_bottom p{text-align: center;color: #ffffff;font-size: 16px;line-height: 26px;}
.bottom_right .erweima{}
.bottom_right .hover_erweima{position: absolute;top: 0;left: 36px;
	 visibility: hidden;
	 -webkit-transform: translate(0%,0%);
	 -webkit-transition: .5s all ease;}
.bottom_right .hover_erweima.active{visibility:visible; 
	-webkit-transform: translate(0%,-20%); 
}
.bottom_right .hover_erweima img{width: 100px;height: 100px;}
/*底部结束*/



/*首页开始*/
/*登录弹窗*/
.index_bg{position:fixed;background: #000;opacity: .8;width: 100%;height: 100%;z-index: 1;}
.login.active{
	visibility:visible; 
	-webkit-transform: translate(0%,0%); 
}
.login{
	 visibility: hidden;
	 -webkit-transform: translate(0%,100%);
	 -webkit-transition: .5s all ease;
	background: #ffffff;position: fixed;z-index: 2;padding-bottom: 20px;margin:auto;left:0; right:0; top:0; bottom:0;width:400px; height:300px;}
.login .login_con p{width: 100%;text-align: center}
.login .login_con p input{border: 1px solid #cccccc;}
.login .login_con .title{font-size: 20px;padding: 30px 0;}
.login .login_con p{padding: 6px 0;line-height: 40px;}
.login .login_con p input{padding: 10px 4px;}
.login .login_con .deng_btn{width: 228px;margin: 0 auto}
.login .login_con .deng{background: #1C73BA;padding: 10px 20px;color: #ffffff;margin: 20px 10px 0;width: 100px;}
.login .login_con .zhuce{background: #1C73BA;padding: 10px 20px;color: #ffffff;margin: 20px 0;width: 100px;}
.login .login_con .login_del{position: absolute;
    top:2px;right: 2px;cursor: pointer;width: 20px;height: 20px;text-align: center}
.login .login_con .login_del img{width: 20px; height: 20px;}
/*登录弹窗结束*/

/*以下banner*/
.banner { position: relative; text-align: center;width: 100%!important;}
.banner ul li { float: left; }
.banner .dots { position: absolute; left: 0; right: 0; bottom: 20px;}
.banner .dots li {display: inline-block;width: 6px;height: 6px;margin: 0 4px;text-indent: -999em;border: 2px solid #fff;border-radius: 6px;cursor: pointer;opacity: .4;-webkit-transition: background .5s, opacity .5s;-moz-transition: background .5s, opacity .5s;transition: background .5s, opacity .5s;}
.banner .dots li img{width: 100%;}
.banner .dots li.active {background: #fff;opacity: 1;}
.banner .arrow { position: absolute; top: 40%;}
.banner .left{left: 20%;}
.banner .right{right: 20%;}
/*banner结束*/
.content{width: 100%;background: #ffffff;}
/*产品中心*/
.product{width: 1280px;margin: 0 auto}
.product .top_title{}
.product .top_title .headline{font-size: 30px;color: #000;text-align: center;padding: 20px 0 10px 0}
.product .top_title .title{font-size: 16px;color: #000;text-align: center;padding: 10px 0 0 0}
.product_classify ul{}
.product_classify ul li {cursor: pointer;float: left;width: 320px;text-align: center;font-size: 16px;color: #000;border-bottom: 2px solid #ccc;padding: 20px 0;}
.product_classify ul li.active{color: #013b91;border-bottom: 2px solid #013b91;}
.shop{display: none}
.shop ul li{float: left;width: 257.5px;margin-left: 50px;margin-top: 50px;box-shadow: 4px 3px 11px #888888}
.shop ul li img{width: 100%}
.shop ul li .title{text-align: center;font-size: 18px;padding: 10px;}
.shop ul li .money{text-align: center;font-size: 16px;padding: 10px;color: #a00000;}
.product .more{background: #013b91;color: #ffffff;width: 160px;height: 50px;line-height: 50px;text-align: center;margin: 50px auto;font-size: 16px;}
.product .more  a{color:#fff;} 



/*产品中心结束*/
/*关于我们*/
.about{background: #f4f4f4;padding-bottom: 250px;}
.about .con{width: 1280px;margin: 0 auto;position: relative}
.about .con .headline{font-size: 30px;color: #000;text-align: center;padding: 20px 0 10px 0}
.about .con .title{font-size: 16px;color: #000;text-align: center;padding: 0 0 20px 0}
.about .rongyu{width: 700px;height: 440px;}
.about .intro_box{position: absolute;right: 0px;top: 480px;width: 750px;background: #ffffff;background-color: rgba(255, 255, 255, .5);border: 5px solid #fff;}
.about .intro_box .more{position: absolute;right: 0;top: -30px;background: #013b91;color: #ffffff;width: 160px;height: 50px;line-height: 50px;text-align: center;font-size: 16px;}
.about .intro_box .more  a{color: #fff;}
.about .intro_box .intro{font-size: 18px;margin: 30px;line-height: 30px;color: #000;}
.about .intro_box .intro p{text-align: center;font-size: 18px;display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
    overflow: hidden;}
/*关于我们结束*/
/*新闻中心*/
.news{width: 1280px;margin: 0 auto;padding-bottom: 50px;}
.news .headline{font-size: 30px;color: #000;text-align: center;padding: 20px 0 10px 0;}
.news .title{font-size: 16px;color: #000;text-align: center;padding: 10px 0 0 0}
.news ul{margin-top: 20px;}
.news ul li{width: 373.3333px;margin-left: 40px;float: left}
.news ul li img{width: 100%}
.news ul li .list_title{font-size: 22px;color: #000;padding: 10px 0;}
.news ul li .list_con{text-align: justify;font-size: 16px;color: #000;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 3;overflow: hidden;}
.news ul li .list_time{font-size: 16px;padding: 20px 0;}
.news ul li .list_time span{padding: 0 4px;color: #838383;}
.news ul li .list_time span img{width: 20px;height: 20px;margin-right: 5px;}
.news ul li .xiang{background: #013b91;width: 100px;text-align: center;}
.news ul li .xiang a{color: #ffffff;line-height: 40px;height: 40px;font-size: 14px;}
.news .more{cursor: pointer;background: #013b91;color: #ffffff;width: 160px;height: 50px;line-height: 50px;text-align: center;margin: 80px auto;font-size: 16px;}
.news .more a{color: #fff;}
/*新闻中心结束*/
/*首页结束*/

/*产品中心开始*/
.product_conter{width: 1280px;margin: 0 auto;}
.product_left{float: left;width: 280px;}
.product_left>ul{width: 300px;margin: 0 auto;background: #035cac;padding:50px 0 120px 0;cursor:pointer;}
.product_left>ul li p{margin: 4px 0;font-weight: bold;font-size: 18px;text-align: center;background: #1C73BA;color: #ffffff;padding:10px 30px;height: 34px;line-height: 34px;}
.product_left>ul li p span{margin: 0 20px;}
.product_left>ul li p span img{width: 20px;height: 20px;margin-top: 8px;}
.productList_jia img{margin-top: 7px;}

.product_left>ul li .sm_list li{line-height: 50px;text-align: center;color: #2355a0;background: #ffffff;font-size: 18px;cursor:pointer;}
.product_left>ul li .sm_list li:hover{background: #25a9e0;}
.product_left>ul li .sm_list li.active {background: #25a9e0;}
.product_left>ul li  .sm_list{display: none;}


.product_conter{position: relative;width: 1300px;margin: 0 auto;height: 1400px;}
.product_box{position: absolute;top: -100px;width: 1280px;height: 1500px;}
.product_right{float: right;width: 980px;height: 500px;background:#fff;}
.product_right .seach{padding: 30px 0;width: 800px;margin: 0 auto;position: relative;}
.product_right .seach img{position: absolute;right: 20px;top: 42px;}
.product_right .seach input{border: 4px solid #cecece;width: 750px;height: 40px;line-height: 50px;border-radius: 50px;padding-left: 50px;font-size: 20px;}

.shop_list>ul li{float:left;width:280px;margin: 20px 0 0 20px;border: 1px solid #cccccc;}
.shop_list>ul li .shop_listbox>a img{width: 260px;padding: 10px;}
/*.shop_list>ul li img{width: 100%;padding: 10px}*/
.shop_listbox .shop_title .shop_title_left{float: left;}
.shop_title  .shop_title_left .money{}
.shop_listbox .shop_title .shop_title_left .money{font-size: 22px;color: #be0000;padding: 10px 0;margin-left: 10px;}
.shop_listbox .shop_title .shop_title_left .title{font-size: 20px;color: #333333;padding-bottom: 16px;margin-left: 10px;}

.shop_listbox .shop_title .shop_title_right{float: right;}
.shop_listbox .shop_title .shop_title_right img{margin: 14px 10px 0 0;}

.shopList_bottom span.active{border-right: 1px solid #cccccc;}
.shopList_bottom span{padding: 10px 0;width: 49.827%;display: inline-block;text-align: center;font-size: 16px;    font-weight: bold;  border-top: 1px solid #cccccc; }
.shopList_bottom span b{color: #013b91;}
.shop_list{display: none;background:#fff;padding-bottom: 99px;}
.shop_list .paging{width: 980px;margin-top: 60px;}
.shop_list .paging ul{width: 300px;margin: 0 auto}
.shop_list .paging ul li{float: left;padding: 4px 10px;border: 1px solid #cccccc;}
.shop_list .paging ul li.active{background: #013b91;color: #ffffff;}


/*产品中心结束*/

/*关于我们*/
.aboutTabHead{width: 100%;background: #ffffff}
.aboutTabHead ul{width: 1280px;margin: 0 auto}
.aboutTabHead ul li{width: 33.333%;text-align: center;float: left;font-size: 20px;line-height: 100px;border-bottom: 2px solid #b0b0b0;cursor: pointer}
.aboutTabHead ul li.active{border-bottom: 2px solid #013b91;color: #013b91}
.About .about{display: none}
/*关于我们结束*/

/*联系我们*/
.visit{background: #013b91;width: 360px;height: 490px;padding: 20px;position: absolute;top: 160px;right: 10%;}
.visit .erweima{width: 230px;margin: 30px auto;}
.visit .erweima img{width: 230px;height: 230px;}
.visit p{font-size: 16px;color: #ffffff;padding: 10px 0;}
.visit .title{font-size: 30px;}
.leave{width: 1280px;margin: 0 auto;padding-bottom: 50px;}
.leave p{text-align: center;color: #333333}
.leave .title{font-size: 24px;padding: 50px 0 0px 0;}
.leave .Etitle{font-size: 18px;padding: 6px 0;}
.leave .publicity{font-size: 18px;margin-top:16px;}
.leave input{border: 1px solid #bfbfbf;padding: 10px 6px;width: 400px;margin: 30px 110px;color: #333;font-size: 18px;}
.leave textarea{resize: none;width: 1030px;border: 1px solid #bfbfbf;margin-left: 110px;height: 200px;font-size: 20px;margin-top: 20px;padding: 10px;}
.leave .leavebtn_box{width: 200px;margin: 0 auto}
.leave button{width: 200px;height: 50px;background: #013b91;color:#ffffff;font-size: 16px;margin-top: 50px;}
/*联系我们结束*/

/*新闻详情*/
.pressCenter_con{width: 1280px;margin: 0 auto;}
.pressCenter ul li{cursor: pointer;font-size: 18px;width: 25%;float: left;text-align: center;line-height: 50px;margin-top: 30px;border-bottom: 2px solid #bfbfbf;}
.pressCenter ul li.active{border-bottom: 2px solid #013b91;color:#013b91;}

.pressCenter_box{display: none}
.news_list{background: #fff;margin-bottom: 20px;}
.newsList_left{float: left;width: 400px;padding: 20px;}
.newsList_right{float: left;width: 840px}
.newsList_right .title{font-size: 24px;padding:30px 0;margin-top: 20px;}
.newsList_right .details{font-size: 18px;text-align: justify;width: 800px;padding-bottom: 20px;}
.newsList_right .time{text-align: right;margin-right: 40px;}
.newsList_right .time span{margin-left: 10px;}
.newsList_right .time span img{margin-right: 3px;}
.newsList_right .btn{padding: 10px 20px;background: #013b91;width: 80px;text-align: center;margin-top: 20px;}
.newsList_right .btn p a{color: #ffffff;}
/*新闻详情结束*/
/*产品详情*/
/*banner*/
.sm_banner{width: 100%}
.sm_banner img{width: 100%}
/*banner结束*/
.details_top{width: 1280px;margin: 0 auto}
.details_top p{font-size: 16px;padding: 20px 0;color: #003d90;}
.details_top p img{margin-top: 2px;}
.details_top p span{margin: 0 10px;}

/*产品详细信息*/
.details_shop_box{width: 100%;}
.details_shop{width: 1280px;margin: 0 auto;background: #fff;}
.detailsShop_left{float: left;width: 600px;padding: 20px;}
.detailsShop_left img{width: 100%;height: 100%;}
.detailsShop_right{float: left;width: 600px}
.detailsShop_right .title{font-size: 20px;margin-top: 20px;font-weight: bold;color: #000;}
.detailsShop_right .details{line-height: 23.333px;font-size: 16px;padding: 4px 0; text-align: justify;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 3;overflow: hidden;height: 70px;}
.detailsShop_right .money{margin: 10px 0;background: #E7E7E7;color: #A10206;padding: 10px 0;font-size: 24px;padding-left: 10px;}
.detailsShop_right .baozhuang{font-size: 16px;padding: 4px 0;}
.detailsShop_right .baozhuang p{margin: 6px 0;}
.detailsShop_right .baozhuang p span{font-size: 14px;margin-right: 20px;padding: 4px 8px;border: 1px solid #ccc;}
.detailsShop_right .baozhuang p span.active{color:#D00202;border: 1px solid #D00202;}
.detailsShop_right .number{font-size: 16px;}
.detailsShop_right .number p{margin: 4px 0;}
.detailsShop_right .number p img{font-size: 18px;width: 30px;height: 28px;}
.detailsShop_right .number p input{font-size: 14px;width: 50px;height: 26px;text-align: center;border:1px solid #ADADAD; }
.detailsShop_right .kucun{margin-bottom: 10px;line-height: 20px;}
.detailsShop_right .detailsShop_btn{}
.detailsShop_right .detailsShop_btn .liji{padding: 4px 10px;text-align: center;background: #BA0203;width: 80px;line-height: 32px;height: 32px;float: left;}
.detailsShop_right .detailsShop_btn .shopcar{background: #029214;width: 120px;float: left;line-height: 32px;height: 32px;margin-left: 30px;padding: 4px 10px;text-align: center;}
.detailsShop_right .detailsShop_btn a{color: #ffffff}
.detailsShop_right .detailsShop_btn .shopcar img{width: 24px;margin-top: 6px;}



.detailsProduct{width: 1280px;margin: 0 auto;margin-top: 50px;margin-bottom: 50px;}
.detailsProduct_left{float: left;width: 960px;background: #fff}
.detailsProduct_right{float: left;width: 300px;margin-left: 20px;background: #fff}
.detailsProduct_left .title{font-size: 20px;color: #013b91;border-bottom: 1px solid #ccc;padding:50px 0 20px 0;margin-left: 20px;}
.detailsProduct_left .title span{font-size: 20px;border-bottom: 2px solid #013b91;padding: 20px 0;}
.detailsProduct_left .guige{font-size: 14px;border-bottom: 1px solid #ccc;padding: 20px 0;margin-left: 20px;}
.detailsProduct_left .guige span{margin-right: 160px;}
.detailsProductCon{margin: 20px 20px 50px 20px;}
.detailsProduct_right .title{font-size: 16px;padding-top: 20px;margin-left: 10px;font-weight: bold;color: #000;}
.detailsProduct_right .detailsProduct_list{margin: 20px  auto;width: 280px;}
.detailsProduct_right .detailsProduct_list img{width: 100%}
.detailsProduct_right .detailsProduct_list .tit{text-align: center;font-size: 16px;color: #333;padding: 20px 0 10px 0;}
.detailsProduct_right .detailsProduct_list .money{text-align: center;font-size: 14px;color:#D00202; padding: 0px 0 10px 0 }

/*产品详情结束*/


/*订单页面*/
/*地址弹窗*/
.Add_site_bg{position:fixed;background: #000;opacity: .3;width: 100%;height: 100%; }
.Add_site_bg.active{display: none}
.Add_site{background: #ffffff;position: fixed;z-index: 2;padding-bottom: 20px;;margin:auto;left:0; right:0; top:0; bottom:0;width:600px; height:400px;}


.Add_site.active{display: none}
.Add_site .title{    text-align: left;
    margin: 0 auto;
    background: #f3f3f3;
    /*width: 100%;*/
    font-size: 16px;
    padding: 0 0 0 20px;
    width: 580px;
    }
.Add_site .title img{    float: right;width: 20px;height: 20px;margin: 10px 10px 0 0}
.Add_site p{line-height: 40px;font-size: 14px;margin: 20px auto;width: 500px; }
.Add_site p input{line-height: 30px;font-size: 14px;border: 1px solid #cccccc;padding: 4px 4px;width: 360px;float: right}
.Add_city{width: 500px;margin: 0 auto;font-size: 14px}
.Add_city select{float: right;width: 120px;height: 30px;border: 1px solid #cccccc;margin-right: 3.5px;color: #757575
}
/*.Add_site .close{width: 120px;background: #b00000;height: 50px;color: #ffffff;margin-top: 30px;}*/
.Add_site .save{width: 120px;background: #b00000;height: 26px;color: #ffffff;margin-top: 30px;}
.Add_site .order_btm{width: 300px;margin: 0 auto}

/*地址弹窗结束*/
.order_con{margin: 20px 0;background: #ffffff}
.order_con .orderCon{width: 1280px;margin: 0 auto;}
.order_con .orderCon>p{font-size: 24px;padding: 20px 0 20px 10px;}
.order_con .orderCon .message{margin: 20px;border-bottom:1px solid #cccccc;padding-bottom: 20px;}
.order_con .orderCon .message .title{font-size: 18px;color: #323232}
.order_con .orderCon .message .title .addSite{font-size: 16px;color: #329832;border: 1px solid #329832;float: right;padding: 4px 6px;}
.order_con .orderCon .message .title .addSite a{color: #329832;}
.orderCon .message .list{font-size: 16px;padding: 20px 0 20px 0;margin-top: 20px; }
.orderCon .message li .name{margin-left: 100px; padding: 2px 6px;width: 70px;display: inline-block;text-align: center;}
/*.orderCon .message li .name.active{border: 2px solid #fe0000;}*/
.orderCon .message li .site{margin-left:60px;width: 500px;display: inline-block}
.orderCon .message li .tel{margin-left:80px; width: 130px;text-align: center;display: inline-block}
.orderCon .message li .more{margin-left:160px;font-size: 14px; width: 100px;text-align: center;display: inline-block}
.orderCon .message li{border: 1px solid #ffffff;}
.orderCon .message li.active{background: #e9f2ff;border: 1px solid #d1e1f7; }
.orderCon .message .list_ul{height: 100px;overflow: hidden;}
.orderCon .message .all_site{font-size: 16px;cursor: pointer;    margin-top: 20px;}
.orderCon .message .all_site img{margin-top: 4px;}
.orderCon .message .close{font-size: 16px;cursor: pointer;    margin-top: 20px;}
.orderCon .message .close img{margin-top: 4px;}




.order_con .orderCon .mode{margin: 20px;}
.order_con .orderCon .mode .title{font-size: 18px;color: #323232}
.order_con .orderCon .mode .list{padding-bottom: 50px;margin: 30px 0 50px 0;border-bottom:1px solid #cccccc; }
.order_con .orderCon .mode .list span{font-size: 16px;padding: 2px 6px;width: 90px;display: inline-block;text-align: center;}
.order_con .orderCon .mode .onLine{border: 2px solid #fe0000;margin: 0 24px 0 100px;}

/*商品列表title*/
.orderCon .order_shop{padding: 20px;}
.orderCon .order_shop .title{font-size: 18px;color: #323232}
.orderCon .order_shop .title_list ul{width: 100%;border-bottom: 2px solid #cccccc;padding: 20px 0;}
.orderCon .order_shop .title_list ul li{width: 25%;text-align: center;float: left;font-size: 16px;color: #c13332;}
/*订单商品列表*/
.orderCon .order_shop .order_shopList{}
.orderCon .order_shop .order_shopList ul{height: 160px;background: #ebebeb}
.orderCon .order_shop .order_shopList ul li{float: left;width: 25%;text-align: center;line-height: 160px;}
.orderCon .order_shop .order_shopList ul li .left{float: left}
.orderCon .order_shop .order_shopList ul li .left img{width: 120px;height: 140px;padding: 14px;}
.orderCon .order_shop .order_shopList ul li .right{float: left;margin-top: 50px;}
.orderCon .order_shop .order_shopList ul li .right p{font-size: 16px;line-height: 40px;}
.orderCon .order_shop .order_shopList ul li .right .shop_title{color:#033b92 }
.orderCon .order_shop .order_shopList .money{font-size: 24px;color: #c13332}
.orderCon .order_shop .shopLeave textarea {resize: none;width: 98%;padding:1%; border: 1px solid #cccccc;height: 160px;font-size: 18px;}

.orderCon .order_bottom_box{}
.orderCon .order_bottom_box .order_bottom{width: 600px;float: right}
.orderCon .order_bottom .modebtn{line-height: 50px;font-size: 16px;}
.orderCon .order_bottom .total{line-height: 50px;font-size: 18px;}
.orderCon .order_bottom .order_money{color: #c13332;}
.orderCon .order_bottom .orderBtn p{text-align: right;padding: 50px 20px;}
.orderCon .order_bottom .orderBtn p span{cursor: pointer; width: 100px;height: 34px;display: inline-block;background: #c13332;color: #ffffff; line-height: 34px;text-align: center;margin-left: 20px;}
.orderCon .order_bottom .orderBtn .go_car{background: #ebebeb;}
.orderCon .order_bottom .orderBtn .go_car a{color: #999999;}


/*订单页面结束*/

/*购物车*/
.content-bg{background:#ffffff;padding-bottom:50px}
.ll_content-bg{width: 1200px;margin: 0 auto;padding: 20px 40px; margin-top: 40px;margin-bottom: 40px;}
.ll_jiesuanbar{padding-bottom: 30px;line-height: 90px!important;}
.ll_xiang{width: 500px}
.order-th{display:flex;background:#fff;padding-left:15px;height:45px;line-height:45px;margin-top:15px;border-bottom:1px solid #fafafa}
.order-th li:first-child{flex:3;text-align:left;font-size:18px}
.order-th li{flex:1;text-align:center;font-size: 18px;}
.order-select{background:#fff;font-size:14px;height:50px;line-height:50px;padding-left:20px;border-bottom:1px solid #fafafa}
.order-select-content{width:462px}
.checkbox{position:relative;left:2px}
input[type=checkbox]+label::before{content:"\a0";display:inline-block;vertical-align:middle;font-size:18px;width:20px;height:20px;border:1px solid #ddd;text-indent:.15em;line-height:1;position:relative;left:-15px;background:#fff}
input[type=checkbox]:checked+label::before{background:url(../images/dui.png) no-repeat center #fff;background-clip:content-box}
input[type=checkbox]{  opacity:0;  z-index:1000;position:absolute;top: 1px;  left: -13px; width: 20px;height: 20px}
.dianpu{width:100%;height:120px;background:#fff;margin-top:35px;-webkit-box-align:center;-moz-box-align:center;-ms-flex-align:center;-webkit-align-items:center;align-items:center;font-size:14px}
.dianpu h2{font-size:14px;display:inline-block;width:14px;margin:0 10px}
.dianpu img{vertical-align:middle}
.order-list li .yuanjia{color:#999;text-decoration:line-through}
.order-list li .shifu{color:#b00000;font-size: 20px;}
.order-list li{border-top: 2px solid #a0a0a0; display:flex;padding:20px 0 20px 10px;text-align:center;-webkit-box-align:center;-moz-box-align:center;-ms-flex-align:center;-webkit-align-items:center;align-items:center;background:#fff;border-bottom:1px solid #fafafa}
.order-list li div:first-child{flex:3;text-align:left;}
.order-list li div{flex:1;}
.fl{float:left}
.fr{float:right}
.order-name{width:220px;margin-left:20px;position:relative;height:73px;padding:5px 0 10px;text-align:left!important}
.order-name p{position:absolute;bottom:0;color:#000;font-size:18px}
.order-name h3{font-size:20px;font-weight:400;}
.order-name h3 a{color: #01398e;}
.order-list li .yuanjia{color:#999;text-decoration:line-through}
.order-list li .price{font-size: 20px;color: #9F0102;}
.add-reduce{width:94px;margin:0 auto}
.add-reduce input{width:40px;height:25px;text-align:center;border:1px solid #ddd;border-right:none;border-left:none}
.add-reduce button{width:27px;height:27px;border:1px solid #ddd;background:#ADADAD}
.more{color:#cccccc;font-size: 20px;cursor: pointer}
.more{color: #9F0102}
.jiesuanbar{margin-top:50px;height:90px;background:#e5e5e5;line-height:60px;padding:0 0 0 20px}
.jiesuan_btn{background:#b00000;margin: 20px;
    text-align:center;font-size:16px;display:inline-block;line-height: 30px; padding: 10px 30px;   }
.jiesuan_btn a{color: #ffffff;}
/*#tab_lisy{min-height: 600px;}*/
.delete{cursor: pointer;display: block}

.carBottom{width: 1280px;margin: 0 auto}
.carBottom>p{text-align: center;font-size: 24px; padding: 30px 0;}
.carBottom ul li{width: 280px;float: left;box-shadow: 4px 3px 11px #888888;margin-bottom: 50px;margin-left: 32px;}
.carBottom ul li .title{font-size: 20px;text-align: center;padding: 20px 0 10px 0;}
.carBottom ul li .money{font-size: 20px;color: #b00000;text-align: center;padding-bottom: 20px;}
/*购物车结束*/



/*新闻详情*/
.info_con{width: 1200px;margin: 50px auto;background: #ffffff;padding: 20px 40px;}
.info_con .title{font-size: 24px;text-align: center;margin-top: 40px;}
.info_con .time{text-align: right;padding-right: 50px;padding-bottom:10px;font-size: 16px;border-bottom: 2px solid #cccccc}
.info_con .info_content{font-size: 20px;text-align: justify;padding: 0 20px;}
.info_con .info_content p{padding: 10px 0;}

/*个人中心*/
.user_con{width: 1280px;margin: 0 auto;margin-top: 30px;margin-bottom: 50px;}
.user_left{width: 250px;background: #ffffff;float: left;}
.user_right{width: 1000px;background: #ffffff;float: right;}
.user_left .userName{margin-top: 30px;text-align: center}
.user_left .userName img{border-radius: 50px;width: 100px;height:100px;border: 1px solid #cccccc;}
.user_left .userName p{font-size: 18px;line-height: 30px;padding: 10px 0;}
.user_left ul{padding: 20px 0;}
.user_left ul li{line-height: 30px;padding: 14px 0;text-align: center;font-size: 18px;}
.user_left ul li a {height: 50px;}
.user_left ul li a span{width: 120px;height: 30px; display: inline-block;}
.user_left ul li a  img{width: 20px;margin-top: 5px;}
.user_left ul li.active{background: #023b92;}
.user_left ul li a.active{color: #ffffff;}
.user_right .user_form{margin-top: 30px;margin-left: 50px;font-size: 16px;width: 900px;}
.user_right .user_form .ll_user{line-height: 38px;padding: 24px 0;width: 470px;}
.user_right .user_form .ll_user>span{width: 160px;display: inline-block;text-align: center}
.user_right .user_form .ll_user input{font-size: 16px;line-height: 30px;border: 1px solid #cccccc;float: right;width: 300px;padding: 4px;}
.user_right .user_form .location{width: 900px;}
.user_right .user_form .location ul{width: 700px;float: left}
.user_right .user_form .location>p{width: 160px;float: left;text-align: center}
.user_right .user_form .location ul li{float: left;width:310px;border: 1px solid #cccccc; margin-bottom: 70px;height: 158px;}
.user_right .user_form .location ul li:nth-child(even){margin-left: 70px;}
.user_right .user_form .location ul li .name p{padding: 10px;}
.user_right .user_form .location ul li .name span{cursor: pointer;display: inline-block;float: right;margin-right: 20px;font-size: 14px;color: #cccccc}
.user_right .user_form .location ul li .site{padding: 0 10px;line-height: 20px;height:40px;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden;}
.user_right .user_form .location ul li .phone{padding: 10px;}
.user_right .user_form .location ul li:last-child{cursor: pointer}
.user_right .user_form .location ul li:last-child p{line-height: 158px;font-size: 24px;text-align: center;color: #000;}
.user_right .user_form .location ul li:last-child p img{margin-top: 63px;margin-right: 4px;}
.user_right .user_form .user_btn{width: 120px;margin: 0 auto;text-align: center;background: #023b92;height: 40px;margin-bottom: 50px;border-radius: 5px;}
.user_right .user_form .user_btn p{font-size: 18px;line-height: 40px;color: #ffffff}

/*个人中心订单管理*/
.user_right .orderManagement{padding: 20px;}
.Management_top{width: 100%}
.Management_top li{float: left;text-align: center;border-bottom: 2px solid #ffffff;line-height: 50px;cursor: pointer;margin-right:60px;font-size: 16px;font-weight: bold;}
.Management_top li.active{border-bottom: 4px solid #013a91;}
.orderSeach{float: right;background:#f4f4f4;height: 40px; margin-top:5px; border:1px solid #000; width: 400px}
.orderSeach input{width: 350px;height: 30px;padding: 5px;}
.orderSeach img{margin-top:10px;}


.Management_title{background: #ececec;margin-top: 20px;}
.Management_title li{float: left;width: 20%;text-align: center;line-height: 50px;font-weight: bold;}
.Management_con{margin: 20px 0;}
.Management_con li{width: 20%;float: left;text-align: center}
.Management_con .shop_img{}
.Management_con .receiving{border: 1px solid #cccccc;margin-bottom: 20px;position: relative}
.Management_con .cancel{position: absolute;top: 16px;right: 20px;cursor: pointer}
.Management_con .Obligation{border: 1px solid #cccccc;margin-bottom: 20px;position: relative}

.Management_con .orderNubTime{background: #ececec;line-height: 50px;}
.Management_con .orderNubTime p{padding-left: 20px;font-weight: bold;	}
.Management_con .orderNubTime p span{margin-right: 10px;}
.Management_con ul{padding: 20px 0;}
.Management_con ul .title p{line-height:30px;}
.Management_con ul .title .shop_title{margin-top: 20px;font-size: 18px;color: #023b92}
.Management_con ul .title .KG{font-size: 18px;color: #000;}
.Management_con ul .name{line-height: 100px;font-size: 16px;}
.Management_con ul .money{line-height: 100px;font-size: 20px;color: #fa0000}
.Management_con ul .state{line-height: 100px;font-size: 16px;}
.Management_con ul .state p a{background: #023b92;color: #ffffff;padding: 10px 20px;border-radius: 5px;}



















